[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ccxt = ">=4.3.60"
lightgbm = ">=3.2.1"
TA-Lib = "*"
pandas = "*"
six = "*"
joblib = "*"
numpy = "*"

[requires]
python_version = "3.8"
